@import url('https://fonts.cdnfonts.com/css/harry-potter');

/*----- ----- ALL OF BACKGROUND COLORS ----- -----*/
$grif-color-1: #740001;
$grif-color-2: #d3a625;

$slit-color-1: #2a623d;
$slit-color-2: #5d5d5d;

$rave-color-1: #222f5b;
$rave-color-2: #946b2d;

$huff-color-1: #ecb939;
$huff-color-2: #726255;

$card-color: #393a75;

.card {
  font-family: 'Harry Potter', sans-serif;
  width: 450px;
height: 580px;
  display: inline-block;
  margin: 8px;
  perspective: 1000px;

  &.card-flipped .card-inner {
    transform: rotateY(180deg);
  }

  &-inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }

  &-front, &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &-back {
    transform: rotateY(180deg);
  }
}

.wizardImage {
  position: relative;
  aspect-ratio: 2/1.86;

  .wizardImageBackground {
    position: absolute;
    top: 1%;
    left: 3%;
    width: 94%;

    .gryffindor & {
      fill: $grif-color-1;
    }

    .slytherin & {
      fill: $slit-color-1;
    }

    .ravenclaw & {
      fill: $rave-color-1;
    }

    .hufflepuff & {
      fill: $huff-color-1;
    }
  }

  .wizardAvatar {
    position: absolute;
    height: auto;
    width: 35%;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 220px, 0);
    filter: drop-shadow(0 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  }

  .wizardCardShowoff {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0 0.35rem 0.2rem rgba(0, 0, 0, 0.5));
  }
}

.wizardData {
  padding: 12px;
  text-align: center;
  color: rgb(102, 102, 102);
  border: 8px solid $card-color;
  background: #efe66f;
  width: 54.5%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;

  .gryffindor & {
    color: $grif-color-1;
  }

  .slytherin & {
    color: $slit-color-1;
  }

  .ravenclaw & {
    color: $rave-color-1;
  }

  .hufflepuff & {
    color: $huff-color-1;
  }
}

.wizardName {
  font-family: "Times New Roman", Garamond, serif;
  padding: 0 4px;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  bottom: 13px;
  left: 152px;
  width: 140px;
}

.wizardGender {
  font-family: "Times New Roman", Garamond, serif;
  font-size: 24px;
  position: absolute;
 top: 150px;
  left: 50%;
  transform: translateX(-50%);
  color: gold;
}

.wizardAttributes {
  font-family: "Times New Roman", Garamond, serif;
  font-size: 28px;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  color: gold;

  li {
    padding: 4px;
    display: inline-block;
  }
}
