@import url('https://fonts.cdnfonts.com/css/harry-potter');

/*----- ----- ALL OF BACKGROUND COLORS ----- -----*/
$grif-color-1: #740001;
$grif-color-2: #d3a625;

$slit-color-1: #2a623d;
$slit-color-2: #5d5d5d;

$rave-color-1: #222f5b;
$rave-color-2: #946b2d;

$huff-color-1: #ecb939;
$huff-color-2: #726255;

.card {
    font-family: 'Harry Potter', sans-serif;
    background-color: white;
    border: 1px solid #e9e9e9;
    max-width: 300px;
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

&.gryffindor {
     border: 1px solid $grif-color-2;
 }
&.slytherin {
     border: 1px solid $slit-color-2;
 }
&.ravenclaw {
     border: 1px solid $rave-color-2;
 }
&.hufflepuff {
     border: 1px solid $huff-color-2;
 }
}

.wizardImage {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    background: #efefef;

&.gryffindor {
     background: $grif-color-1;
 }
&.slytherin {
     background-color: $slit-color-1;
 }

&.ravenclaw {
     background-color: $rave-color-1;
 }
&.hufflepuff {
     background-color: $huff-color-1;
 }

img {
    height: auto;
    width: 30%;
    margin: 20px auto;
    border-radius: 50%;
}
}

.wizardData {
    padding: 12px;
    text-align: center;
    color: rgb(102, 102, 102);

&.gryffindor {
     color: $grif-color-2;
 }

&.slytherin {
     color: $slit-color-1;
 }

&.ravenclaw {
     color: $rave-color-1;
 }
&.hufflepuff {
     color: $huff-color-2;
 }
}

.wizardName {
    margin: 0 0 12px;
    padding: 0;
}

.wizardGender {
    font-family: 'Harry Potter', sans-serif;
}

.wizardAttributes {
    margin: 0;
    padding: 0 0 20px;
    list-style: none;

li {
    padding-top: 4px;
}
}
