/*----- ----- ALL OF BACKGROUND COLORS ----- -----*/
$grif-color-1: #740001;
$grif-color-2: #d3a625;

$slit-color-1: #2a623d;
$slit-color-2: #5d5d5d;

$rave-color-1: #222f5b;
$rave-color-2: #946b2d;

$huff-color-1: #ecb939;
$huff-color-2: #726255;

$card-color: #393a75;

.box {
  display: inline-block;
}

.card {
  font-family: "Times New Roman", Garamond, serif;
  width: 350px;
  height: 350px;
  display: block;
  margin: 8px;
  transition: all 0.6s;
  transform: scale(1) translateY(0);
  z-index: 1;
  margin-top: 0;
  position: relative;

  &.card-flipped {
    transform: scale(1.3) translateY(-10%);
    margin-top: 85px;
    z-index: 10;

    .card-inner {
      transform: rotateY(180deg);
    }
  }

  &-inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  &-front, &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &-back {
    transform: rotateY(180deg);
  }
}

.wizardImage {
  position: relative;
  aspect-ratio: 2/1.86;

  .wizardImageBackground {
    position: absolute;
    top: 1%;
    left: 3%;
    width: 94%;

    .gryffindor & {
      fill: $grif-color-1;
    }

    .slytherin & {
      fill: $slit-color-1;
    }

    .ravenclaw & {
      fill: $rave-color-1;
    }

    .hufflepuff & {
      fill: $huff-color-1;
    }
  }

  .wizardAvatar {
    position: absolute;
    height: auto;
    width: 35%;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, -36px, 0);
    filter: drop-shadow(0 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  }

  .wizardCardShowoff {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0 0.35rem 0.2rem rgba(0, 0, 0, 0.5));
  }
}

.wizardName {
  .card-front & {
    padding: 0 4px;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
  }

  .card-back & {
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}

.wizardGender {
  font-size: 16px;
  backface-visibility: hidden;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  color: white;
}

.wizardAttributes {
  font-size: 18px;
  line-height: 12px;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    padding: 4px;
    display: inline-block;
  }
}
